.alignCenter {
	text-align: center;
	margin-top: 25px;
}

.marginTop5 {
	margin-top: 5px;
}

.country-flag img {
	width: 20px;
	margin-right: 10px;
}

body {
	background-color: #fafafa;
}

.jvectormap-zoomin, .jvectormap-zoomout {
	background: #fff;
    color: #233;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
    font-size: 26px;
    padding: 5px 10px 9px 2px;
}

.jvectormap-zoomout {
	top: 42px;
}

.confirmed {
	background-color: #fff1dc !important;
	color: #bc7c2d !important;
}

.recovered {
	background-color: #f0fff4 !important;
	color: #38a169 !important;
}

.deaths {
	background-color: #fff5f5 !important;
	color: #e53e3e !important;
}

.confirmed .stats-title { 
	background-color: #ffe5ab;
}

.recovered .stats-title { 
	background-color: #c6f6d5;
}


.deaths .stats-title { 
	background-color: #fed7d7;
}

.state-box {
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06) !important;
}

.state-box .stats-title {
	font-size: 1rem;
    margin: 0;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color emoji;
    font-weight: 600;
    padding: 7px;
}

.state-box h5 {
	font-weight: bold;
}
